.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  opacity: 0.8;
  padding-top: 3rem;
  margin: auto;
}

.article:hover {
  transform: translateY(-0.5rem) scale(1.03);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.image {
  border-radius: 5px;
  max-height: 133;
  object-fit: cover;
  min-width: 0;
}

.article h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Mobile styles */
@media (max-width: 768px) {
  .article {
    padding-top: 2rem;
    width: fit-content;
  }
  /* .image {
    max-width: 30vw;
    max-height: 15vh;
  } */
  .article h3 {
    font-size: 1rem;
  }
}
